html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.client {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-auto-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "meta changes";
    padding: 5px;
    grid-gap: 5px;
    box-sizing: border-box;
}

.meta {
    grid-area: meta;

    padding: 5px;

    overflow-y: auto;
}

.changes {
    grid-area: changes;

    overflow-y: auto;
}

table {
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 1px;
    margin-bottom: 5px;
}

td {
    border: 1px solid black;
    padding: 4px;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.indent {
    margin-left: 1em;
}

.header {
    background-color: #c5c5c5;
}

.inlinegui, .singletomultiple, .references {
    background-color: #92d692;
}

.inlinecustomscript, .convertedtrigger, .generatedcallbacks {
    background-color: #b9c1de;
}

.inlinepreset {
    background-color: rgb(187, 187, 113);
}

.missingstring {
    background-color: rgb(211, 105, 105);
}
